main {
  position: relative;
  text-align: center;
  padding: 1rem 2rem;
}

main .title {
  margin-block: 2rem;
  padding-block: 1rem;
  background-color: rgba(73, 73, 73, 0.15);
  border-radius: 5px;
}

main .title h2 {
  color: rgb(1, 156, 143);
}

main h4 {
  font-size: 1.2em;
  color: rgba(48, 48, 48, 0.781);
  margin-top: 0.5rem;
  font-style: italic;
}

main h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 1rem;
}

main p {
  margin-top: 1rem;
  max-width: 60%;
  margin-inline: auto;
}

main button {
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  background-color: rgb(1, 156, 143);
  margin-top: 1rem;
  padding: 1rem;

  border: none;
  border-radius: 5px;
  cursor: pointer;
}

main button:hover,
main button:focus {
  color: rgb(1, 156, 143);
  background-color: whitesmoke;
  border: 2px solid rgb(1, 156, 143);
}

main img {
  position: absolute;
  z-index: -100;

  max-width: min(20vw, 200px);
}
main img:first-child {
  top: 30%;
  left: -10%;
  transform: rotate(20deg);
}

main img:nth-child(2) {
  bottom: 15%;
  right: 2.5%;
  transform: rotate(20deg);
}

main img:nth-child(3) {
  top: 10%;
  right: -8%;
  transform: rotate(-130deg);
}

main img:nth-child(4) {
  bottom: 5%;
  left: 20%;
  transform: rotate(-10deg);
}
