.product-page {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin-top: 50px;
  margin-inline: auto;
  padding: 1rem;

  max-width: min(90vw, 800px);

  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px lightgray;
}

.product-page img {
  width: min(40vw, 250px);
}

.product-page .right-side {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.product-page .product-footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.product-page input {
  max-width: 30px;
  margin-left: auto;
}
