.products-container nav {
  display: flex;
  justify-content: center;
  background-color: rgb(1, 156, 143);
}

.products-container nav a {
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.products-container nav a:hover,
.products-container nav a:focus,
.products-container nav a.active {
  color: rgb(1, 156, 143);
  background-color: whitesmoke;
}

.products-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  gap: 2.5rem;
  padding: 1rem 3rem;
}

.products-display .product-card {
  display: grid;
  gap: 0.5rem;

  padding: 0.5rem;
  margin-inline: auto;
}

.products-display .product-card .product-footer {
  display: flex;
  justify-content: space-between;
}

.product-card img {
  width: 200px;
  height: 200px;
}

.product-card .product-footer input {
  max-width: 40px;
  padding: 5px;
}
