.products-container nav {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: rgb(1, 156, 143);
}

.products-container nav a {
  padding: 0.6rem 1rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.products-container nav a:hover,
.products-container nav a:focus,
.products-container nav a.active {
  color: rgb(1, 156, 143);
  background-color: whitesmoke;
}

.products-container h2 {
  color: rgb(1, 156, 143);

  margin-top: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

.products-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: center;
  gap: 2.5rem;
  padding: 1rem 5rem;
  margin-block: 1.5rem;
}

.products-display .product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;

  padding: 0.5rem;

  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(119, 119, 119, 0.397);
}

.products-display .product-card:hover,
.products-display .product-card:focus {
  transform: scale(1.005);
  box-shadow: 0px 0px 10px 5px rgba(119, 119, 119, 0.726);
}

.products-display .product-card .top-side {
  display: flex;
  gap: 1rem;
  padding: 1rem;

  text-decoration: none;
  text-align: center;
  color: inherit;
}

.product-card img {
  max-width: 40%;
}

.products-display .product-card .product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
}

.product-card .product-footer h3 {
  font-size: 1.8rem;
}

.product-card .product-footer button {
  padding: 15px;

  border: none;
  border-radius: 5px;

  font-weight: 700;
  text-transform: uppercase;

  color: whitesmoke;
  background-color: rgba(1, 156, 143, 0.986);

  cursor: pointer;
}

.product-card button:hover {
  color: rgb(1, 156, 143);
  background-color: white;
  outline: 1px solid rgb(1, 156, 143);
  box-shadow: 0px 0px 5px 5px rgba(119, 119, 119, 0.192);
}
